/*CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main */


html, body {
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  color: #2d2d2d;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.3em;
}

p {
  font-size: 1.1em;
  padding: 1.5em;
}

h2 {
  font-size: 2em;
  padding: 1.3em;
}

.mobile-hide {
  display: none;
}

.mobile-display-only {
    display: block;
  }

/* Flex */
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.just-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.just-start {
  justify-content: flex-start;
}

.just-space-between {
  justify-content: space-between;
}

.width-hundred {
  width: 100%
}

.width-third {
  width: 30%;
}

.center-text {
  text-align: center;
}

.flex-grow-one {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-column-mb {
  flex-direction: column;
}

/* Backgrounds */

.jumbotron {
  background: url('../images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 53vh;
  align-content: flex-end;
}

.bottomjumbotron {
  background: #359520;
  background-size: cover;
  height: 20em;
  flex:1;
  margin-top: 50px;
}

/* colors */

.white {
  color: white;
}

.green {
  color: #359520;   
}

.light-grey {
  color: #969696;
}

/*HTML sections */

nav {
  padding: 6px 0;
}

.counter-top {
  height:20px;
  width: 20px;
  background-color: #359520;
  position: absolute;
  top: 40px;
  right: 30px;
  border-radius: 100%;
  /*display: initial;*/
  text-align: center;
  color: #fff;
}

.jumbotron p {
  padding: 0;
  font-size: 1.3em;
  letter-spacing: 0.3em;
}

.jumbotron button {
  background: transparent;
  border: 2px solid #359520;
  margin-right: 0;
  color: white;
  font-size: 1em;
  padding: 5px 30px;
  margin-top: 0.8em;
}

.bottom-form {
  background-color: white;
  width: 70%;
  justify-content: space-between;
}

/*Modals*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

.modal-content h4 {
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 1.8em;
}

.modal-content h1 {
  margin: 20px;
  font-size: 2em;
}

#inner-modal-cart p {
  padding: 5px;
  width: 40%;
}

#cart-modal {
  font-size: 0.7em;
}

#inner-modal-cart section {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 1.3em;
  /*border-bottom: 1px dotted #359520;*/
  margin-bottom: 10px;
}

.cart-quantity-container span {
  margin-right: 10px;
  font-size: 1.2em;
}
.cart-quantity-container input {
  font-size: 1em;
  max-width: 45px;
  text-align: center;
}

.update-btn, .remove-btn {
  background: white;
  border: 2px solid #359520;
  margin: 3px;
  padding: 5px 10px;
}

.total-container {
  text-align: right;
  font-size: 1.8em;
}

.total-container span {
  margin-right: 10px;
}

#checkout-modal .modal-content {
  width: 90%;
}

#payment-form label {
  position: relative;
  color: #6A7C94;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  display: block;
}

#payment-form label > span {
  float: left;
}

.field {
  background: white;
  box-sizing: border-box;
/*  font-weight: 400;*/
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid #CFD7DF;
/*  border-radius: 24px;*/
  color: #32315E;
  outline: none;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
  width: 75%;
  float: right;
}


.field::-webkit-input-placeholder { color: #CFD7DF; }
.field::-moz-placeholder { color: #CFD7DF; }
.field:-ms-input-placeholder { color: #CFD7DF; }

.field:focus,
.field.StripeElement--focus {
  border-color: #359520;
}

#card-errors {
  color: #fa755a;
}

#success {
  color: #359520;
}

/* The Close Button */
#close, #close-cart, #close-checkout {
    color: #aaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
}

#close:hover, #close-cart:hover, #close-checkout:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-img {
  width: 20%;
  height: 20%;
  margin-right: 50px;
}

.modal-cart-img {
  width: 10%;
  height: 10%;
}

.productview-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

/*End of Modal*/

.email-input {
  border-width: 0;
  padding: 8px 20px;

}

.email-input:focus {
  outline: 0;
  background-color: transparent;
} 

.subscribe {
  margin: 3px;
  background-color: #359520;
}

.footer {
  background-color: #242424;
  padding: 30px 0;
}

.footer h4, .footer section {
  margin: 8px 0;
}

.social .flex {
  padding: 0 5px;
}

p {
  line-height: 1.8em;
}

.social p {
    padding: 0;
  }

ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0 10px;
}

.bottomjumbotron h2 {
  padding: 0.7em 0;
}

/*Carousel*/

.carousel-cell {
  width: 100%;
  height: auto;
  margin: 0 20px;
}

.carousel-cell img {
  width: 50%;
  height: 50%;
}

.carousel-cell h3 {
  padding-bottom: 10px;
}

.carousel-cell h3 {
  padding: 10px 20px
}

.btn {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.cart-btn {
  background: #359520;
  font-size: 14px;
  border: none;
  margin-left: 15px;
  color: white;
  padding: 10px 15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.cart-btn:hover {
  background: #006F00;
}

.pay-btn {
  margin-top: 30px;
}

.view-btn { 
  font-size: 14px; 
  background: white;
  border: 2px solid #359520;
  margin-right: 0;
  padding: 8px 13px;
}

.view-btn:hover, .remove-btn:hover, .update-btn:hover {
  border: 2px solid #006F00;
  color: #006F00;
}

.modal-content .cart-btn {
  margin-left: 0;
  margin-right: 15px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 190px;
}

/*Links */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #359520;
}

.footer>section>h4>a {
  text-decoration: underline;
}

/* Margins and Paddings */

.margin-sm {
  margin: 0.2em;
}

.margin-md {
  margin: 2.2em;
}

.padding-sm {
  padding: 10px;
}

.max-height{
  max-height: 40px;
}

/* Grid */

.box {
  height: 20vh;
  flex: 1;
  font-size: 1.1em;
  margin-bottom: 5px;
  transition: background-size 0.5s ease-in-out;
}

.box:hover {
  background-size: 110%;
}

.box1 {
  background: url('../images/laptop-category.jpg') no-repeat center;
  background-size: cover;
  
}

.box2 {
  background: url('../images/tv-category.jpg') no-repeat center;
  background-size: cover;
}



.box3 {
  background: url('../images/home-audio-category.jpg') no-repeat center;
  background-size: cover;
  margin-left: 5px;
}

.box4 {
  background: url('../images/tablet-category.jpg') no-repeat center;
  background-size: cover;
  margin-right: 5px;
}

.box5 {
  background: url('../images/desktop-category.jpg') no-repeat center;
  background-size: cover;
}

.box6 {
  background: url('../images/cell-category.jpg') no-repeat center;
  background-size: cover;
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1239px) {

  .mobile-hide {
    display: block;
  }

  .mobile-display-only {
    display: none;
  }

  html, body {
    font-size: 16px;
  }

  .bottom-form {
    width: 60%;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 30px
  }

  .social {
    flex-direction: column;
    width: 20%;
    max-height: 200px;
  }

  .social a {
    text-decoration: none;
  }

  .footer section {
    text-align: left;
  }

  .width-tablet {
    width: 70%;
  }

  .carousel-cell {
    width: 50%;
  }

  .image-container {
    min-height: 250px;
  }

  .flex-order-one {
  order: 1;
  }

  .flex-column-mb {
  flex-direction: row;
  }

  .flex-one-dk-tb {
    flex: 1;
  }

  .box {
    height: 25vh;
  }

  .box1 {
    margin-right: 5px;
  }

  .box3 {
    margin-left: 5px;
  }

  .box4 {
    margin-right: 5px;
  }

  .box6 {
    margin-left: 5px;
  }

  .modal-content {
    width: 90%;
  }

  #checkout-modal .modal-content {
    width: 60%;
  }

}

/* Desktop */
@media (min-width: 1240px) {

  .mobile-hide {
    display: block;
  }

  .mobile-display-only {
    display: none;
  }

  html, body {
    font-size: 16px;
  }

  .width-desktop {
    width: 50%;
  }

  .bottomjumbotron p {
    padding: 20px 200px;
  }

  .footer i {
    flex: 1;
  }

  .footer p {
    flex: 5;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 30px;
  }

  .social {
    flex-direction: column;
    width: 20%;
    max-height: 200px;
  }

  .social a {
    text-decoration: none;
  }

  .footer section {
    text-align: left;
  }

  .bottom-form {
    width: 30%;
  }

  .carousel-cell {
    width: 25%;
  }

  .flex-order-one {
    order: 1;
  }

  .flex-column-mb {
  flex-direction: row;
  }

  .flex-one-dk-tb {
    flex: 1;
  }

  .box {
    height: 35vh;
  }

  .box1 {
    margin-right: 5px;
  }

  .box3 {
    margin-left: 5px;
  }

  .box4 {
    margin-right: 5px;
  }

  .box6 {
    margin-left: 5px;
  }

  .modal-content {
    width: 70%;
  }

  #checkout-modal .modal-content {
    width: 40%;
  } 

}